# To update requirements.txt for praxis and paxml, run:
# bash ./compile_requirements.sh

absl-py
clu
etils
flax==0.8.1
graphviz
jax==0.4.24
lingvo
numpy
orbax-checkpoint==0.5.3
praxis
protobuf==3.19.6
pyglove
seqio-nightly
t5
tensorflow~=2.9.2
tensorflow-text~=2.9.0
tensorstore
tensorflow-datasets==4.8.3
tfds-nightly==4.8.3.dev202303280045
tensorflow-metadata==1.12.0
