# To update requirements.txt for praxis and paxml, run:
# bash ./compile_requirements.sh

absl-py==1.4.0
clu==0.0.9
etils[enp,epath,epy]==1.4.1
flax==0.7.2
graphviz==0.20.1
jax==0.4.14
lingvo==0.12.7
numpy==1.25.2
orbax-checkpoint==0.3.5
praxis==1.1.0
protobuf==3.19.6
pyglove==0.4.2
seqio==0.0.17
t5==0.9.4
tensorflow~=2.9.2
tensorflow-text~=2.9.0
tensorstore==0.1.41
tensorflow-datasets==4.8.3
tfds-nightly==4.8.3.dev202303280045
tensorflow-metadata==1.12.0
