nvidia-cublas-cu12==12.1.0.26
nvidia-cuda-nvcc-cu12==12.1.66
nvidia-cuda-runtime-cu12==12.1.55
nvidia-cudnn-cu12==8.9.0.131
nvidia-cufft-cu12==11.0.2.4
nvidia-cusolver-cu12==11.4.4.55
nvidia-cusparse-cu12==12.0.2.55
nvidia-nvjitlink-cu12==12.1.55
