# To update requirements.txt for praxis and paxml, run:
# bash ./compile_requirements.sh

absl-py
clu
etils
flax
jax
lingvo
numpy
orbax
praxis
protobuf==3.19.5
pyglove
seqio @ git+https://github.com/google/seqio
t5
tensorflow~=2.9.2
tensorflow-text~=2.9.0
tensorstore
